[submodule "Seohyuk/sub_repo/glfw"]
	path = Seohyuk/sub_repo/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Seohyuk/GLFW/glfw"]
	path = Seohyuk/GLFW/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Seohyuk/SupportProjects/NeftyRenderTools/glfw"]
	path = Seohyuk/SupportProjects/NeftyRenderTools/glfw
	url = https://github.com/glfw/glfw.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
