[submodule "Seohyuk/tinyobjloader"]
	path = Seohyuk/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Seohyuk/glfw"]
	path = Seohyuk/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Seohyuk/ExternalProjects/glfw"]
	path = Seohyuk/ExternalProjects/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Seohyuk/ExternalProjects/tinyobjloader"]
	path = Seohyuk/ExternalProjects/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
